name: Pipeline CI

on:
  pull_request:
    branches: [ master ]

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: "22.x"

    - name: Install npm dependencies
      run: npm ci

    - name: Check JS formatting
      run: npm run prettier:check

    - name: Install SBCL
      run: sudo apt-get install sbcl

    - name: Bootstrap JSCL
      run: ./bootstrap.sh

    - name: Run tests (SBCL)
      run: ./run-tests.sh --sbcl

    - name: Run tests (Stage 0)
      run: ./run-tests.sh --jscl=out/jscl-node.js

    - name: Run tests (Stage 1)
      run: ./run-tests.sh --jscl=dist/jscl-node.js
