name: Release NPM

on:
  push:
    tags:
      - v*

env:
  JSCL_RELEASE: true

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm ci

      - name: Install SBCL
        run: sudo apt-get install sbcl

      # We publish the SBCL-built version until the bootstrap pipeline
      # is more mature. Once bootstrap is stable, we can switch to
      # ./bootstrap.sh to publish the self-hosted build.
      - name: Build JSCL with SBCL
        run: ./make.sh
        env:
          JSCL_RELEASE: true

      - name: Run tests
        run: ./run-tests.sh

      - name: Publish to npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
