name: Release latest

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        run: npm ci

      - name: Install SBCL
        run: sudo apt-get install sbcl

      - name: Build
        run: JSCL_VERSION=$(git rev-parse --short HEAD) npm run build

      - name: Run tests
        run: npm test

      - name: Deploy latest version
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: master
          folder: dist
          repository-name: jscl-project/jscl-project.github.io
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          single-commit: true
