name: Release latest

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Install dependencies
        run: npm ci

      - name: Install SBCL
        run: sudo apt-get install sbcl

      # We publish the SBCL-built version until the bootstrap pipeline
      # is more mature. Once bootstrap is stable, we can switch to
      # ./bootstrap.sh to publish the self-hosted build.
      - name: Build JSCL with SBCL
        run: ./make.sh
        env:
          JSCL_RELEASE: true

      - name: Run tests
        run: ./run-tests.sh

      - name: Deploy latest version
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: master
          folder: dist
          repository-name: jscl-project/jscl-project.github.io
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          single-commit: true
